export DIRENV_WARN_TIMEOUT="30s"
gitRef=$(git symbolic-ref -q --short HEAD 2>/dev/null)
envs=$(nix run --quiet --quiet .#hostenv-environments | nix run nixpkgs#jq -- -r 'keys[]')
refInOutputs=$([ ! -z "$gitRef" ] && echo "$envs" | grep -x "$gitRef" | wc -l || exit 0) || exit 1

if [ -f "$PWD/../.git/HEAD" ]; then
  watch_file "$PWD/../.git/HEAD" "$PWD/hostenv.nix"
else
  watch_file "$PWD/hostenv.nix"
fi

if [ ! $refInOutputs = 0 ]; then
  use flake ".#$gitRef"
else
  use flake
fi
